/* Provide sufficient contrast against white background */

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

a:hover {
	color: #a588c7;
}

code {
	color: #E01A76;
}

li {
	list-style: none;
}

.navbar-expand-sm .navbar-nav .nav-link {
	padding-right: 1rem;
	padding-left: 1rem;
}

.btn:focus {
	outline: none !important;
}

button:focus {
	outline: none !important;
}

.MuiTabs-flexContainerVertical {
	align-items: center;
}

.MuiToolbar-root {
	justify-content: center;
}

.profile-picture {
	border: 5px solid white;
}

.profile-picture-container {
	background-color: #ffffff4D;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.profile-picture, .profile-picture-container {
		width: 200px;
		height: 200px;
		border-radius: 100px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.profile-picture, .profile-picture-container {
		width: 300px;
		height: 300px;
		border-radius: 150px;
	}
}

/* Medium devices (landscape tablets, 960px and up) */
@media only screen and (min-width: 960px) {
	.profile-picture, .profile-picture-container {
		width: 300px;
		height: 300px;
		border-radius: 150px;
	}
}

/* Large devices (laptops/desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
}

/* Extra large devices (large laptops and desktops, 1920px and up) */
@media only screen and (min-width: 1920px) {
}
/*
.MuiChip-outlinedSecondary {
	color: #1ab9c5 !important;
	border-color: #19b9c3 !important;
}
	*/