
html {
	overflow-x: hidden;
	margin-right: calc(-1 * (100vw - 100%));
}

#__next {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body {
	margin: 0;
}

code {
	color: #E01A76;
}

li {
	list-style: none;
}

.btn:focus {
	outline: none !important;
}

button:focus {
	outline: none !important;
}
