/* Provide sufficient contrast against white background */

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

a:hover {
	color: #a588c7;
}

code {
	color: #E01A76;
}

li {
	list-style: none;
}

.navbar-expand-sm .navbar-nav .nav-link {
	padding-right: 1rem;
	padding-left: 1rem;
}

.btn:focus {
	outline: none !important;
}

button:focus {
	outline: none !important;
}

.MuiTabs-flexContainerVertical {
	align-items: center;
}

.MuiToolbar-root {
	justify-content: center;
}
